body {
       /*background:#f25;*/
	   background:yellow
	   background-image:lineae-gradient(to bottom,red,yellow);		
	   font-size:22px;
	  color:lightgrey;
	  font-family: 'Shadows Into Light', cursive;
}

h1{
	text-align:center;
    color:white;
	font-family: 'Shadows Into Light', cursive;
}

img{
	display:block;
	margin-left: auto;
	margin-right: auto;
}

a{
	color:blueviolet;
}

a:hover{
	color:black;(0,0,0,0.874)
}

a:visited{
	color:rosybrown;
}